html {
  box-sizing: border-box;
  border: 15px solid #e6e6e6;
  min-height: 100vh;
}

body {
  font-family: "Manrope", sans-serif;
}

.menu {
  padding-top: 50px;
  text-align: center;
}

.menu-item {
  padding: 2px 0;
  margin: 0 10px;
  color: black;
}

.menu-item.-home {
  font-weight: 800;
}

.menu-item.-active {
  border-bottom: 3px solid #ff7f50;
}

a:active {
  background-color: black;
  color: white;
}

main {
  padding: 50px;
}

.content {
  margin-top: 3.5em;
}

.introduction {
  text-align: center;
  font-size: 30px;
}

.introduction p {
  max-width: 600px;
  margin: 45px auto 0;
}

strong {
  font-weight: 800;
}

.portrait {
  margin-top: 0;
  width: 200px;
  box-shadow: 35px -35px 0 #ff7f50;
  border-radius: 50%;
}
